*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, Helvetica, sans-serif;
  background: linear-gradient(to right, #283048, #859398);
  color: #f1f1f1;
  padding: clamp(20px, 5vw, 50px) 10px 10px;
}
.global-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 80%;
  h1 {
    margin: 10px;
    font-weight: 2;
    span {
      font-weight: bolder;
    }
  }

  td {
    border: 1px solid #f1f1f1;
    background-color: #283048;
    text-align: center;
    font-size: 2rem;
    width: 33%;
    height: 33%;
  }
  table {
    width: 300px;
    height: 300px;
    margin: 10px;
    border-collapse: collapse;
    cursor: pointer;
  }
  .consigne {
    padding: 10px;
    font-size: 20px;
  }
  td.X {
    color: crimson;
  }
  td.O {
    color: blue;
  }
  .reset {
    display: none;
    padding: 5px;
    width: 20%;
    border: 2px solid #283048;
    background-color: #f1f1f1;
    color: #283048;
    cursor: pointer;
  }
}
